<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ArtMapper">

	<insert id="insert">
		INSERT INTO
		art_table(abstract_id,
		project_id,work_id, creator,files, total_supply,
		monthly_payment,yearly_payment, fully_payment, file_hash,
		contract_address)
		VALUES(#{abstractId},#{projectId},#{tokenID},#{creator.openId},#{fileHashs,typeHandler=com.example.demo.typehandler.ListToVarcharTypeHandler},#{totalSupply},#{accessPaymentPlan.monthlyPayment},#{accessPaymentPlan.yearlyPayment},#{accessPaymentPlan.fullyPayment},#{fileHash},#{contractAddress})
	</insert>

	<select id="selectById" resultMap="art">
		SELECT *
		FROM art_view
		WHERE work_id=#{id}
	</select>

	<select id="select" resultMap="art">
		SELECT *
		FROM art_view
		<where>
			<if test="creator != null  &amp;&amp; creator.openId != null"> AND creator=#{creator.openId}</if>
			<if test="creator != null  &amp;&amp; creator.blockChainAddress != null">AND block_chain_address=#{creator.blockChainAddress}</if>
			<if test="creator != null  &amp;&amp; creator.blockChainName != null">AND block_chain_name=#{creator.blockChainName}</if>
			<if test="tokenID!=null">AND work_id=#{tokenID}</if>
			<if test="abstractId != null">AND abstract_id=#{abstractId}</if>
			<if test="projectId != null">AND project_id=#{projectId}</if>
		</where>
	</select>

	<resultMap id="art" type="ArtIPToken">
		<id property="tokenID" column="work_id" />
		<result property="abstractId" column="abstract_id" />
		<result property="projectId" column="project_id" />
		<result property="totalSupply" column="total_supply" />
		<result property="remianSupply" column="remian_supply" />
		<result property="fileHash" column="file_hash" />
		<result property="contractAddress" column="contract_address"></result>
		<result property="fileHashs" column="files" typeHandler="com.example.demo.typehandler.ListToVarcharTypeHandler"></result>
		<association property="creator" javaType="User">
			<id property="openId" column="creator" />
			<result property="nickName" column="nick_name" />
			<result property="avatarUrl" column="avatar_url" />
			<result property="blockChainAddress"
				column="block_chain_address" />
			<result property="blockChainName" column="block_chain_name" />
		</association>
		<association property="accessPaymentPlan"
			javaType="AccessPaymentPlan">
			<result property="monthlyPayment" column="monthly_payment" />
			<result property="yearlyPayment" column="yearly_payment" />
			<result property="fullyPayment" column="fully_payment" />
		</association>

	</resultMap>

</mapper>